configuration{
    modi: "drun";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "gnome-terminal";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "/usr/share/rofi/themes/DarkBlue.rasi
